.categories__slider .col-lg-3 label{
    background: #de1212;
    color: white;
    height: 30px;
    width: 75px;
    text-align: center;
}
.featured .container .more {
    margin-left: 92%;
    color: #2ec791;
    font-size: 15px;
}
.featured .container .more:hover  {
color: #2ec791;
}
.Banner .container .bannerctn {
    position: relative;
    text-align: center;
    height: 400px;

}
.Banner .container .bannerctn .imgbnr{
    width: 100%;
    height: 400px;
}
.Banner .container .bannerctn a{
font-size: 14px;
padding: 10px 28px 10px;
color: #ffffff;
text-transform: uppercase;
font-weight: 700;
background: #2ec791;
letter-spacing: 2px;
position: absolute;
left: 42%;
bottom: 45%;
border-color: #fbb12f;}
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');


.userr{
    height: 100%;
   
    display: flex;
}
.wrapperuser{
    box-shadow: 0px 0 10px 0 rgb(0 0 0 / 25%);
    position: absolute;
    margin-top: 12px;
    left: 50%;
    height: 40%;
    transform: translate(-50%,0%);
    width: 803px;
    display: flex;
 
}
.wrapperr{
    height: 100%;
    position: absolute;
    margin-top: 20px;
    left: 50%;

     transform: translate(-50%,0%);
     width: 1000px;
     display: flex;
     box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}
.wrapperuser .left{
  width: 35%;
  background: linear-gradient(to right,#01a9ac,#01dbdf);
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
}

.wrapperuser .left img{
  border-radius: 100%;
  height: 150px;
  width: 150px;
}

.wrapperuser .left h4{
  margin-bottom: 10px;
}

.wrapperuser .left p{
  font-size: 12px;
}

.wrapperuser .right{
  width: 65%;
  background: #fff;
  padding: 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wrapperuser .right .info,
.wrapperuser .right .projects{
  margin-bottom: 25px;
}

.wrapperuser .right .info h3,
.wrapperuser .right .projects h3{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.wrapperuser .right .info_data,
.wrapperuser .right .projects_data{
  display: flex;
 
}

.wrapperuser .right .info_data .data,
.wrapperuser .right .projects_data .data{
  width: 45%;
}

.wrapperuser .right .info_data .data h4,
.wrapperuser .right .projects_data .data h4{
    color: #353c4e;
    margin-bottom: 5px;
}

.wrapperuser .right .info_data .data p,
.wrapperuser .right .projects_data .data p{
  font-size: 13px;
  margin-bottom: 10px;
  color: #919aa3;
}

.wrapperuser .social_media ul{
  display: flex;
}

.wrapperuser .social_media ul li{
  width: 45px;
  height: 45px;
  background: linear-gradient(to right,#01a9ac,#01dbdf);
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  line-height: 45px;
}

.wrapperuser .social_media ul li a{
  color :#fff;
  display: block;
  font-size: 18px;
}
.more1 p{
    float: left;
    margin-top: 9px;
    margin-right: 10px;
}
.more1{
    padding: 10px;
    background-color: #f7f8fc;
    border-radius: 5px;
    display: flex;
}
.more1 form {
    margin-top: 2px;
}
.more1 a:hover{
    color: #007bff;
}
.align-self-start{
    height: 100%;
    transform: translate(11%,0%);
    background-color: white;
    box-shadow: 0px 0 10px 0 rgb(0 0 0 / 25%);
}


.mainDiv {
    width: 1000px;
    display: flew;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    font-family: 'Open Sans', sans-serif;
  }
 .cardStyle {
   
    transform: translate(0%, 74%);
    width: 100%;
    height: 54%;
    border-color: white;
    background: #fff;
   
    border-radius: 4px;
   
    box-shadow: 0px 0 2px 0 rgba(0,0,0,0.25);
  }
#signupLogo {
  max-height: 100px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.formTitle{
  font-weight: 600;
  margin-top: 20px;
  color: #2F2D3B;
  text-align: center;
}
.inputLabel {
  font-size: 12px;
  color: #555;
  margin-bottom: 3px;
  margin-top: 24px;
}
  .inputDiv {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
input {
  height: 40px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  border: solid 1px #ccc;
  padding: 0 11px;
}
input:disabled {
  cursor: not-allowed;
  border: solid 1px #eee;
}
.buttonWrapper {
  margin-top: 20px;
}
  .submitButton {
    width: 70%;
    height: 40px;
    margin: auto;
    display: block;
    color: #fff;
    background-color: #065492;
    border-color: #065492;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035);
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }
.submitButton:disabled,
button[disabled] {
  border: 1px solid #cccccc;
  background-color: #cccccc;
  color: #666666;
}

#loader {
  position: absolute;
  z-index: 1;
  margin: -2px 0 0 10px;
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #666666;
  width: 14px;
  height: 14px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}