<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <display-name>Archetype Created Web Application</display-name>
  <context-param>
    <param-name>tempfile.dir</param-name>
    <param-value>web_war\img</param-value>
  </context-param>

  <servlet>
    <servlet-name>getIndex</servlet-name>
    <servlet-class>main.controller.getIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getIndex</servlet-name>
    <url-pattern>/getIndex</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addtoCart</servlet-name>
    <servlet-class>main.controller.addtoCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addtoCart</servlet-name>
    <url-pattern>/addtoCart</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>Doimk</servlet-name>
  <servlet-class>main.controller.Doimk</servlet-class>
</servlet>
  <servlet-mapping>
    <servlet-name>Doimk</servlet-name>
    <url-pattern>/Doimk</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getAllProduct</servlet-name>
    <servlet-class>main.controller.getAllProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getAllProduct</servlet-name>
    <url-pattern>/getAllProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletGetPageAd</servlet-name>
    <servlet-class>main.controller.ServletGetPageAd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletGetPageAd</servlet-name>
    <url-pattern>/getPageAD</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getProduct</servlet-name>
    <url-pattern>/getProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getTypeProduct</servlet-name>
    <servlet-class>main.controller.getTypeProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getTypeProduct</servlet-name>
    <url-pattern>/getAllProductByType</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getUser</servlet-name>
    <servlet-class>main.controller.getUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getUser</servlet-name>
    <url-pattern>/getUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getUserControl</servlet-name>
    <servlet-class>main.controller.getUserControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getUserControl</servlet-name>
    <url-pattern>/getUserControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>main.controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/checkLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registry</servlet-name>
    <servlet-class>main.controller.registry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registry</servlet-name>
    <url-pattern>/registry</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>removeInCart</servlet-name>
    <servlet-class>main.controller.removeInCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeInCart</servlet-name>
    <url-pattern>/removeInCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletAddFavourite</servlet-name>
    <servlet-class>main.controller.ServletAddFavourite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAddFavourite</servlet-name>
    <url-pattern>/ServletAddFavourite</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletAddNewProduct</servlet-name>
    <servlet-class>main.controller.ServletAddNewProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAddNewProduct</servlet-name>
    <url-pattern>/ServletAddNewProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletAddProduct</servlet-name>
    <servlet-class>main.controller.ServletAddProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAddProduct</servlet-name>
    <url-pattern>/ServletAddProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletAddVoucher</servlet-name>
    <servlet-class>main.controller.ServletAddVoucher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAddVoucher</servlet-name>
    <url-pattern>/ServletAddVoucher</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletAllFavourite</servlet-name>
    <servlet-class>main.controller.ServletAllFavourite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAllFavourite</servlet-name>
    <url-pattern>/getAllFavourite</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletCancelOder</servlet-name>
    <servlet-class>main.controller.ServletCancelOder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCancelOder</servlet-name>
    <url-pattern>/ServletCancelOder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletCheckout</servlet-name>
    <servlet-class>main.controller.ServletCheckout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCheckout</servlet-name>
    <url-pattern>/ServletCheckout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletDeletaFavourite</servlet-name>
    <servlet-class>main.controller.ServletDeletaFavourite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDeletaFavourite</servlet-name>
    <url-pattern>/deletaFavourite</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletDeleteF</servlet-name>
    <servlet-class>main.controller.ServletDeleteF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDeleteF</servlet-name>
    <url-pattern>/deleteF</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletEditProduct</servlet-name>
    <servlet-class>main.controller.ServletEditProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEditProduct</servlet-name>
    <url-pattern>/editProduct</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>ServletGetAllLog</servlet-name>
    <servlet-class>main.controller.ServletGetAllLog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletGetAllLog</servlet-name>
    <url-pattern>/ServletGetAllLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletGetAllOder</servlet-name>
    <servlet-class>main.controller.ServletGetAllOder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletGetAllOder</servlet-name>
    <url-pattern>/ServletGetAllOder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletGetInforDB</servlet-name>
    <servlet-class>main.controller.ServletGetInforDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletGetInforDB</servlet-name>
    <url-pattern>/ServletGetInforDB</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletGetAllProductAd</servlet-name>
    <servlet-class>main.controller.ServletGetAllProductAd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletGetAllProductAd</servlet-name>
    <url-pattern>/getAllProductByAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletGetInForDBbyM</servlet-name>
    <servlet-class>main.controller.ServletGetInForDBbyM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletGetInForDBbyM</servlet-name>
    <url-pattern>/ServletGetInForDBbyM</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletGetPageProductByType</servlet-name>
    <servlet-class>main.controller.ServletGetPageProductByType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletGetPageProductByType</servlet-name>
    <url-pattern>/getPageProductByType</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletGetProduct</servlet-name>
    <servlet-class>main.controller.ServletGetProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletGetProduct</servlet-name>
    <url-pattern>/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletGetUserInfor</servlet-name>
    <servlet-class>main.controller.ServletGetUserInfor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletGetUserInfor</servlet-name>
    <url-pattern>/getUserInfor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletGetUserOder</servlet-name>
    <servlet-class>main.controller.ServletGetUserOder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletGetUserOder</servlet-name>
    <url-pattern>/ServletGetUserOder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletGetUserVoucher</servlet-name>
    <servlet-class>main.controller.ServletGetUserVoucher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletGetUserVoucher</servlet-name>
    <url-pattern>/GetVoucherUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletInforOder</servlet-name>
    <servlet-class>main.controller.ServletInforOder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletInforOder</servlet-name>
    <url-pattern>/ServletInforOder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletLock</servlet-name>
    <servlet-class>main.controller.ServletLock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLock</servlet-name>
    <url-pattern>/ServletLock</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletResetPass</servlet-name>
    <servlet-class>main.controller.ServletResetPass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletResetPass</servlet-name>
    <url-pattern>/ServletResetPass</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>reset_password</servlet-name>
    <servlet-class>main.controller.reset_password</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reset_password</servlet-name>
    <url-pattern>/reset_password</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletSearchControl</servlet-name>
    <servlet-class>main.controller.ServletSearchControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSearchControl</servlet-name>
    <url-pattern>/SearchControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletSearchInAd</servlet-name>
    <servlet-class>main.controller.ServletSearchInAd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSearchInAd</servlet-name>
    <url-pattern>/ServletSearchInAd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletUIFOder</servlet-name>
    <servlet-class>main.controller.ServletUIFOder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletUIFOder</servlet-name>
    <url-pattern>/getUIFOder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletUnlock</servlet-name>
    <servlet-class>main.controller.ServletUnlock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletUnlock</servlet-name>
    <url-pattern>/ServletUnlock</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletUpdateEditProduct</servlet-name>
    <servlet-class>main.controller.ServletUpdateEditProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletUpdateEditProduct</servlet-name>
    <url-pattern>/updateEditProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Datlaimk</servlet-name>
    <servlet-class>main.controller.Datlaimk</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Datlaimk</servlet-name>
    <url-pattern>/Datlaimk</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletMailRegistry</servlet-name>
    <servlet-class>main.controller.ServletMailRegistry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletMailRegistry</servlet-name>
    <url-pattern>/ServletMailRegistry</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletUpdateIF</servlet-name>
    <servlet-class>main.controller.ServletUpdateIF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletUpdateIF</servlet-name>
    <url-pattern>/ServletUpdateIF</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletVoucher</servlet-name>
    <servlet-class>main.controller.ServletVoucher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletVoucher</servlet-name>
    <url-pattern>/ServletVoucher</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showCart</servlet-name>
    <servlet-class>main.controller.showCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showCart</servlet-name>
    <url-pattern>/showCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uploadimg</servlet-name>
    <servlet-class>main.controller.uploadimg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadimg</servlet-name>
    <url-pattern>/UploadDownloadFileServlet</url-pattern>
  </servlet-mapping>

</web-app>
